.main {
    grid-area: n;
    background-color: rgb(45, 46, 50);
    height: 300px;
    width: 275px;
    border-radius: 30px;
    border: 1px solid rgb(32, 33, 36);
    margin: 10px 25px 0 10px;
}

.links {
    margin-left: 30px;
    margin-top: 25px;
}

.links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 21px;
    line-height: 30px;
}

.links a.active {
    color: rgb(252, 114, 51);
}