.main {
    margin-top: 45px;
}

.status {
    position: absolute;
    cursor: pointer;
    background-color: rgb(252, 114, 51);
    border-radius: 30px;
    margin-left: 90px;
    margin-top: 40px;
    color: black;
    width: 70px;
    height: 20px;
}

.status:hover {
    background-color: lightgrey;
}

.statusInner {
    position: absolute;
    margin-top: 1px;
    margin-left: 9px;
}

.wrapper {
    display: grid;
    grid-template-areas: "m i";
}

.message {
    grid-area: i;
    margin-left: 70px;
    position: absolute;
    color: whitesmoke;
}

.icon {
    grid-area: m;
    width: 50px;
    border-radius: 30px;
}